.cartItem {
    width: 100%;
    padding: 1rem;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 8px;
    background: white;
    border-radius: 2px;
    place-items: center;
}

.cart-item-name {
    text-decoration: none;
    color: rgb(50, 50, 50)
}

.cart-item-name:hover {
    color: rgb(238, 46, 46);
}

.cart-item-select {
    padding: 10px 16px;
}

.cart-item-delete-btn {
    padding: 10px 16px;
    color: rgb(221, 221, 221);
    background: rgb(50, 50, 50);
    border: 1px solid rgb(50, 50, 50);
}

.cart-item-delete-btn:hover {
    background: rgb(221, 221, 221);
    color: rgb(50, 50, 50);
    cursor: pointer;
}

@media (max-width: 700px) {
    .cart-item-name {
        font-size: 0.8rem;
    }
    .cart-item-select,
    .cart-item-delete-btn {
        padding: 8px 13px;
    }
    .cart-item-price {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    .cart-item-name {
        font-size: 0.6rem;
    }
    .cart-item-select,
    .cart-item-delete-btn {
        padding: 5px 8px;
    }
    .cart-item-price {
        font-size: 0.6rem;
    }
}